<?xml version="1.0" encoding="UTF-8"?>
<!-- DatiConfigurazione XML -->

<DatiConfigurazione>
    <ipDB>localhost</ipDB>
    <portaDB>3306</portaDB>
    <userDB>root</userDB>
    <passwordDB></passwordDB>
    <ipClient>localhost</ipClient>
    <ipServerLog>localhost</ipServerLog>
    <portaServerLog>8080</portaServerLog>
    <listaCategorie>
        <string></string>   <!-- 1) -->
        <string>abbigliamento</string>
        <string>casa</string>
        <string>cibo</string>
        <string>salute</string>
        <string>spostamenti</string>
        <string>svago</string>
    </listaCategorie>
</DatiConfigurazione>


<!-- 1) Inserisco una stringa vuota per permettere di resettare un inserimento errato -->